<footer>
<div class="text-center mt-5">
    <h1 class="underline-title mt-3 mb-4">Nos Horaires d'ouverture</h1>

    {% for openingHour in openingHours %}
        {% if not openingHour.closed %}
            <ul class="list-unstyled ">
                <li><strong>{{ openingHour.day }}</strong> :
                    {% if openingHour.middayOpen %}
                        {{ openingHour.middayOpen|date('H:i') }} - {{ openingHour.middayClose|date('H:i') }}<br>
                    {% endif %}
                    {% if openingHour.eveningOpen %}
                        {{ openingHour.eveningOpen|date('H:i') }} - {{ openingHour.eveningClose|date('H:i') }}<br>
                    {% endif %}
                </li>
            </ul>
        {% else %}
            <ul class="list-unstyled">
                <li><strong>{{ openingHour.day }}</strong> : fermé</li>
            </ul>
        {% endif %}
    {% endfor %}
</div>
</footer>