{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="mt-5 underline-title">Réservation de table</h1>
        {{ form_start(form, {'method': 'POST', 'attr': {'id': 'my-form'}}) }}
        {% for message in app.flashes('success') %}
            <div class="alert alert-successmx-auto text-center mb-5" style="width: 50%;">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger mx-auto text-center mt-5" style="width: 50%;">
                {{ message }}
            </div>
        {% endfor %}
        <div class="form-group text-center mx-auto mb-5 mt-5 " style="max-width: 600px;">
            {{ form_label(form.nbCouverts) }}
            {{ form_widget(form.nbCouverts) }}
        </div>
        <div class="form-group text-center mx-auto mb-5 mt-5" style="max-width: 600px;">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
        </div>
        <div class="form-group text-center mx-auto mb-5 mt-5" style="max-width: 600px;">
            {{ form_label(form.allergies) }}
            {{ form_widget(form.allergies) }}
        </div>
        <div class="text-center mb-5 mt-5">
            <button id='reservation_button' type="submit" class="btn btn-success" data-url='/reservation'>Réserver
            </button>
        </div>
        {{ form_end(form) }}
    </div>
    {% block scripts %}
        <script>
            const form = document.getElementById('my-form');

            form.addEventListener('submit', function (event) {

                const nbCouverts = document.getElementById('reservation_nbCouverts').value;
                const date = document.getElementById('reservation_date').value;

                if (date === '' || nbCouverts === '') {
                    event.preventDefault();
                    document.getElementById('reservation_button').disabled = true;
                }
            });
        </script>
    {% endblock %}
{% endblock %}